* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    background-color: rgb(94, 53, 220);
}

h1 {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    margin: 30px 0 50px;
}

.recipes {
    display: flex;
    justify-content: space-evenly;
    /* gap: 30px; */
    flex-wrap: wrap;
}

.dosa {
    background-color: white;
    width: 360px;
    height: 450px;
    padding: 50px 30px 70px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid black;
    flex-shrink: 0;
}


.dosa .image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.maggie {
    background-color: white;
    width: 360px;
    height: 450px;
    padding: 50px 30px 70px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid black;
    min-width: fit-content;
    flex-shrink: 0;
}

.maggie .image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.text {
    text-decoration: none;
    color: red;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    display: block;

}